---
import FiveStars from './FiveStars.astro';
import { Image } from '@astrojs/image/components';
---

<section class='text-center min-h-[calc(100vh-77px)] grid place-content-center border-b border-border py-14'>
  <div>
    <div class='dark:bg-darkest px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='clip bg-gradient-to-tr from-tertiary via-pink to-secondary text-transparent inline-block'>
        What Makes Us Best-Fit For You ?
      </span>
    </div>
    <h2 class='text-4xl font-bold mb-6 dark:text-white text-black'>
      We provide ground-breaking services to our<br />customers in almost every niche.
    </h2>
  </div>
  <p class='text-lg font-medium mb-6'>
    Digi-Inn aims to build brilliant, robust, and long-term relationships with its customers. As a leading provider of
    Digital Marketing Services in Islamabad, we ensure high-quality standards of Digital Marketing, Website Designs,
    Search Engine Optimization Strategies, Graphics designing & more. In addition to our aim of providing you with
    services, we aim to create a strong sense of trust that our brand can offer.
  </p>
  <div class='flex items-center justify-center flex-col lg:flex-row'>
    <div>
      <Image format='png' src='/bestfit-1.png' alt='social' width={371} height={372} />
      <div class='-mt-10'>
        <h3 class='dark:text-white text-black font-bold text-2xl mb-3'>Social Media Marketing</h3>
        <FiveStars />
      </div>
    </div>
    <div>
      <Image format='png' src='/bestfit-2.png' alt='social' width={371} height={372} />
      <div class='-mt-10'>
        <h3 class='dark:text-white text-black font-bold text-2xl mb-3'>Software Development</h3>
        <FiveStars />
      </div>
    </div>
    <div>
      <Image format='png' src='/bestfit-3.png' alt='social' width={371} height={372} />
      <div class='-mt-10'>
        <h3 class='dark:text-white text-black font-bold text-2xl mb-3'>Website Development</h3>
        <FiveStars />
      </div>
    </div>
  </div>
</section>
