<section class='text-center min-h-[calc(100vh-77px)] grid place-content-center border-b border-border py-14'>
  <div>
    <div class='dark:bg-darkest px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='clip bg-gradient-to-tr from-tertiary via-pink to-secondary text-transparent inline-block'>
        Awesome Clients
      </span>
    </div>
    <h2 class='text-4xl font-bold mb-14 dark:text-white text-black'>Over 40+ Happy Clients</h2>
  </div>
  <div>
    <div class='grid place-content-center grid-cols-3 lg:grid-cols-5 gap-10'>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client1.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client2.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client3.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client4.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client5.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client6.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client7.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client8.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client9.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client10.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client11.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client12.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client13.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client14.png' alt='client' />
      </a>
      <a href='#' class='flex justify-center items-center'>
        <img src='/client15.png' alt='client' />
      </a>
    </div>
  </div>
</section>
