---
import { Icon } from 'astro-icon';
---

<div class='flex space-x-0.5 text-pink justify-center'>
  <div class='h-6 w-6'>
    <Icon name='mdi:star' />
  </div>
  <div class='h-6 w-6'>
    <Icon name='mdi:star' />
  </div>
  <div class='h-6 w-6'>
    <Icon name='mdi:star' />
  </div>
  <div class='h-6 w-6'>
    <Icon name='mdi:star' />
  </div>
  <div class='h-6 w-6'>
    <Icon name='mdi:star' />
  </div>
</div>
