---
import { Image } from '@astrojs/image/components';
---

<section class='min-h-[calc(100vh-77px)] grid place-content-center border-b border-border py-14'>
  <div class='text-center'>
    <div class='dark:bg-darkest px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='clip bg-gradient-to-tr from-tertiary via-pink to-secondary text-transparent inline-block'>
        Working Phenomenon
      </span>
    </div>
    <h2 class='text-4xl font-bold mb-6 dark:text-white text-black text-center'>
      Digi-Inn Marketing Tactics to maximize your<br />
      business potential
    </h2>
  </div>
  <p class='text-lg font-medium mb-20 text-center'>
    Our fully managed master plans can help your business to grow in the digital market.
  </p>
  <div class='flex items-center justify-center flex-col lg:flex-row'>
    <!-- rotating card -->
    <div class='relative w-[300px] h-[300px] m-[20px] [prespective-1000px] cursor-pointer group text-white'>
      <div
        class='absolute w-full h-full [transform-style:preserve-3d] duration-700 group-hover:[transform:rotateY(190deg)]'>
        <div>
          <Image
            fit='cover'
            height={300}
            width={300}
            format='jpg'
            src='/attract.jpg'
            alt='attract'
            class='absolute inset-0'
          />
          <h4 class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-bold text-3xl'>Attract</h4>
        </div>
        <div
          class='w-full h-full py-[20px] bg-bg-1 [backface-visibility:hidden] [transform-style:preserve-3d] [transform:rotateY(180deg)] flex items-center'>
          <div class='w-full h-full p-[20px] bg-[linear-gradient(45deg,#0a1e27,#1f0f13)] [transform:translateZ(100px)]'>
            <h4 class='font-semibold mb-4'>Attract</h4>
            <p class='text-sm'>
              The first step in our marketing strategy is to attract the right target audience towards your brand with
              our cost effective strategies. Digi-Inn s multilevel digital marketing strategy that can reach the most
              people while being on the low cost side.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='relative w-[300px] h-[300px] m-[20px] [prespective-1000px] cursor-pointer group text-white'>
      <div
        class='absolute w-full h-full [transform-style:preserve-3d] duration-700 group-hover:[transform:rotateY(190deg)]'>
        <div>
          <Image
            fit='cover'
            height={300}
            width={300}
            format='jpg'
            src='/convert.jpg'
            alt='convert'
            class='absolute inset-0'
          />
          <h4 class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-bold text-3xl'>Convert</h4>
        </div>
        <div
          class='w-full h-full py-[20px] bg-bg-1 [backface-visibility:hidden] [transform-style:preserve-3d] [transform:rotateY(180deg)] flex items-center'>
          <div class='w-full h-full p-[20px] bg-[linear-gradient(45deg,#0a1e27,#1f0f13)] [transform:translateZ(100px)]'>
            <h4 class='font-semibold mb-4'>Convert</h4>
            <p class='text-sm'>
              The first step in our marketing strategy is to convert the right target audience towards your brand with
              our cost effective strategies. Digi-Inn s multilevel digital marketing strategy that can reach the most
              people while being on the low cost side.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='relative w-[300px] h-[300px] m-[20px] [prespective-1000px] cursor-pointer group text-white'>
      <div
        class='absolute w-full h-full [transform-style:preserve-3d] duration-700 group-hover:[transform:rotateY(190deg)]'>
        <div>
          <Image
            fit='cover'
            height={300}
            width={300}
            format='jpg'
            src='/analyze.jpg'
            alt='analyze'
            class='absolute inset-0'
          />
          <h4 class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-bold text-3xl'>Analyze</h4>
        </div>
        <div
          class='w-full h-full py-[20px] bg-bg-1 [backface-visibility:hidden] [transform-style:preserve-3d] [transform:rotateY(180deg)] flex items-center'>
          <div class='w-full h-full p-[20px] bg-[linear-gradient(45deg,#0a1e27,#1f0f13)] [transform:translateZ(100px)]'>
            <h4 class='font-semibold mb-4'>Analyze</h4>
            <p class='text-sm'>
              The first step in our marketing strategy is to analyze the right target audience towards your brand with
              our cost effective strategies. Digi-Inn s multilevel digital marketing strategy that can reach the most
              people while being on the low cost side.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
