<section class='min-h-[calc(100vh-77px)] grid place-content-center border-b border-border py-14'>
  <div>
    <div class='dark:bg-darkest px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='clip bg-gradient-to-tr from-tertiary via-pink to-secondary text-transparent inline-block'>
        Why Choose Us.
      </span>
    </div>
    <h2 class='text-4xl font-bold mb-10 dark:text-white text-black text-center'>Client Reviews</h2>
    <div class='flex gap-6 flex-col lg:flex-row'>
      <div class='bg-white dark:bg-blackest rounded-lg px-6 py-8'>
        <div class='flex justify-center'>
          <div class='w-max p-1.5 rounded-full bg-gradient-to-tr from-tertiary via-pink to-secondary mb-6'>
            <div class='w-40 h-40 bg-[#111] rounded-full grid place-content-center'>
              <img src='/client1.png' alt='client' class='object-fit rounded-full' />
            </div>
          </div>
        </div>
        <p class='text-lg text-center mb-6'>
          "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quidem nesciunt inventore odio, explicabo
          unde in sint optio, consectetur reiciendis obcaecati quae quo sit velit laborum esse culpa nemo mollitia vel
          neque nostrum? Repudiandae vero incidunt deleniti ratione eligendi recusandae modi, aliquid dolorem
          voluptatibus voluptates, accusamus nobis, quos quo nostrum"
        </p>
        <h5 class='text-black dark:text-white text-xl font-semibold text-center'>Client Name</h5>
      </div>
      <div class='bg-white dark:bg-blackest rounded-lg px-6 py-8'>
        <div class='flex justify-center'>
          <div class='w-max p-1.5 rounded-full bg-gradient-to-tr from-tertiary via-pink to-secondary mb-6'>
            <div class='w-40 h-40 bg-[#111] rounded-full grid place-content-center'>
              <img src='/client2.png' alt='client' class='object-fit rounded-full' />
            </div>
          </div>
        </div>
        <p class='text-lg text-center mb-6'>
          "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quidem nesciunt inventore odio, explicabo
          unde in sint optio, consectetur reiciendis obcaecati quae quo sit velit laborum esse culpa nemo mollitia vel
          neque nostrum? Repudiandae vero incidunt deleniti ratione eligendi recusandae modi, aliquid dolorem
          voluptatibus voluptates, accusamus nobis, quos quo nostrum"
        </p>
        <h5 class='text-black dark:text-white text-xl font-semibold text-center'>Client Name</h5>
      </div>
      <div class='bg-white dark:bg-blackest rounded-lg px-6 py-8'>
        <div class='flex justify-center'>
          <div class='w-max p-1.5 rounded-full bg-gradient-to-tr from-tertiary via-pink to-secondary mb-6'>
            <div class='w-40 h-40 bg-[#111] rounded-full grid place-content-center'>
              <img src='/client3.png' alt='client' class='object-fit rounded-full' />
            </div>
          </div>
        </div>
        <p class='text-lg text-center mb-6'>
          "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quidem nesciunt inventore odio, explicabo
          unde in sint optio, consectetur reiciendis obcaecati quae quo sit velit laborum esse culpa nemo mollitia vel
          neque nostrum? Repudiandae vero incidunt deleniti ratione eligendi recusandae modi, aliquid dolorem
          voluptatibus voluptates, accusamus nobis, quos quo nostrum"
        </p>
        <h5 class='text-black dark:text-white text-xl font-semibold text-center'>Client Name</h5>
      </div>
    </div>
  </div>
</section>
